USE [FinalJob]
GO
/****** Object:  Table [dbo].[Application]    Script Date: 6/11/2024 9:52:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Application](
	[ApplicationId] [int] IDENTITY(1,1) NOT NULL,
	[CreateDate] [date] NULL,
	[JobId] [int] NULL,
	[StatusId] [int] NULL,
	[UserId] [int] NULL,
	[IntroducingLetter] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ApplicationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ApplicationStatus]    Script Date: 6/11/2024 9:52:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ApplicationStatus](
	[StatusId] [int] IDENTITY(1,1) NOT NULL,
	[StatusName] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[StatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 6/11/2024 9:52:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[CategoryId] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Company]    Script Date: 6/11/2024 9:52:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Company](
	[CompanyId] [int] IDENTITY(1,1) NOT NULL,
	[CompanyName] [nvarchar](100) NULL,
	[CompanyDescription] [nvarchar](max) NULL,
	[CompanyWebsiteUrl] [nvarchar](max) NULL,
	[CompanyEmail] [nvarchar](200) NULL,
	[CompanyPhoto] [nvarchar](max) NULL,
	[IsActive] [bit] NULL,
	[UserId] [int] NULL,
	[CompanyAddress] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[CompanyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GroupChat]    Script Date: 6/11/2024 9:52:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GroupChat](
	[GroupId] [int] IDENTITY(1,1) NOT NULL,
	[SeekerId] [int] NULL,
	[CompanyId] [int] NULL,
	[GroupName] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[GroupId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Job]    Script Date: 6/11/2024 9:52:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Job](
	[JobId] [int] IDENTITY(1,1) NOT NULL,
	[JobTitle] [nvarchar](500) NULL,
	[JobDescription] [nvarchar](max) NULL,
	[JobLocation] [nvarchar](100) NULL,
	[SalaryRange] [nvarchar](100) NULL,
	[IsActive] [bit] NULL,
	[CreatedDate] [date] NULL,
	[ExpiredDate] [date] NULL,
	[CompanyId] [int] NULL,
	[CategoryId] [int] NULL,
	[TypeId] [int] NULL,
	[LevId] [int] NULL,
	[LocationId] [int] NULL,
	[JobRequirement] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[JobId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LevelOfWork]    Script Date: 6/11/2024 9:52:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LevelOfWork](
	[LevId] [int] IDENTITY(1,1) NOT NULL,
	[LevelName] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[LevId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Location]    Script Date: 6/11/2024 9:52:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Location](
	[LocationId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[LocationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Message]    Script Date: 6/11/2024 9:52:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Message](
	[MessageId] [int] IDENTITY(1,1) NOT NULL,
	[Content] [nvarchar](max) NULL,
	[Time] [nvarchar](200) NULL,
	[GroupId] [int] NULL,
	[UserType] [int] NULL,
	[DataType] [nvarchar](100) NULL,
	[FileName] [nvarchar](500) NULL,
	[FileLink] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[MessageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Seeker]    Script Date: 6/11/2024 9:52:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Seeker](
	[SeekerId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[PhoneNumber] [nvarchar](50) NULL,
	[FileCV] [nvarchar](max) NULL,
	[Photo] [nvarchar](max) NULL,
	[GPA] [decimal](5, 2) NULL,
	[Major] [nvarchar](100) NULL,
	[UserId] [int] NULL,
	[LocationId] [int] NULL,
	[SeekerAddress] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[SeekerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TypeOfWork]    Script Date: 6/11/2024 9:52:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TypeOfWork](
	[TypeId] [int] IDENTITY(1,1) NOT NULL,
	[TypeName] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[TypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 6/11/2024 9:52:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](100) NULL,
	[Password] [nvarchar](500) NULL,
	[IsActive] [bit] NULL,
	[CreatedDate] [date] NULL,
	[UserTypeId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserType]    Script Date: 6/11/2024 9:52:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserType](
	[UserTypeId] [int] IDENTITY(1,1) NOT NULL,
	[UserTypeName] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Application] ON 

INSERT [dbo].[Application] ([ApplicationId], [CreateDate], [JobId], [StatusId], [UserId], [IntroducingLetter]) VALUES (1, CAST(N'2024-05-11' AS Date), 1, 2, 2, N'Tôi là Trần Minh Hiển')
INSERT [dbo].[Application] ([ApplicationId], [CreateDate], [JobId], [StatusId], [UserId], [IntroducingLetter]) VALUES (2, CAST(N'2024-05-13' AS Date), 2, 2, 2, N'My name is Hien')
SET IDENTITY_INSERT [dbo].[Application] OFF
GO
SET IDENTITY_INSERT [dbo].[ApplicationStatus] ON 

INSERT [dbo].[ApplicationStatus] ([StatusId], [StatusName]) VALUES (1, N'Đang xử lý')
INSERT [dbo].[ApplicationStatus] ([StatusId], [StatusName]) VALUES (2, N'Chấp thuận')
INSERT [dbo].[ApplicationStatus] ([StatusId], [StatusName]) VALUES (3, N'Từ chối')
SET IDENTITY_INSERT [dbo].[ApplicationStatus] OFF
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([CategoryId], [CategoryName]) VALUES (1, N'C#')
INSERT [dbo].[Category] ([CategoryId], [CategoryName]) VALUES (2, N'Java')
INSERT [dbo].[Category] ([CategoryId], [CategoryName]) VALUES (3, N'Python')
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
SET IDENTITY_INSERT [dbo].[Company] ON 

SET IDENTITY_INSERT [dbo].[Company] OFF
GO
SET IDENTITY_INSERT [dbo].[GroupChat] ON 

INSERT [dbo].[GroupChat] ([GroupId], [SeekerId], [CompanyId], [GroupName]) VALUES (1, 1, 1, N'Nhóm chat 1')
INSERT [dbo].[GroupChat] ([GroupId], [SeekerId], [CompanyId], [GroupName]) VALUES (2, 1, 2, N'test')
SET IDENTITY_INSERT [dbo].[GroupChat] OFF
GO
SET IDENTITY_INSERT [dbo].[Job] ON 

SET IDENTITY_INSERT [dbo].[Job] OFF
GO
SET IDENTITY_INSERT [dbo].[LevelOfWork] ON 

INSERT [dbo].[LevelOfWork] ([LevId], [LevelName]) VALUES (1, N'Intern')
INSERT [dbo].[LevelOfWork] ([LevId], [LevelName]) VALUES (2, N'Fresher')
INSERT [dbo].[LevelOfWork] ([LevId], [LevelName]) VALUES (3, N'Junior')
SET IDENTITY_INSERT [dbo].[LevelOfWork] OFF
GO
SET IDENTITY_INSERT [dbo].[Location] ON 

INSERT [dbo].[Location] ([LocationId], [Name]) VALUES (1, N'Hà Nội')
INSERT [dbo].[Location] ([LocationId], [Name]) VALUES (2, N'Đà Nẵng')
INSERT [dbo].[Location] ([LocationId], [Name]) VALUES (3, N'Hồ Chí Minh')
SET IDENTITY_INSERT [dbo].[Location] OFF
GO
SET IDENTITY_INSERT [dbo].[Message] ON 

INSERT [dbo].[Message] ([MessageId], [Content], [Time], [GroupId], [UserType], [DataType], [FileName], [FileLink]) VALUES (1, N'Hello', N'13/05/2024 11:02:25', 1, 2, N'text-file', N'Bao cao Final.docx', N'uploads/a00f7617-b77b-49aa-baeb-c732ecf2cf9a_Bao cao Final.docx')
INSERT [dbo].[Message] ([MessageId], [Content], [Time], [GroupId], [UserType], [DataType], [FileName], [FileLink]) VALUES (2, N'Ok', N'13/05/2024 11:02:41', 1, 3, N'text', NULL, NULL)
INSERT [dbo].[Message] ([MessageId], [Content], [Time], [GroupId], [UserType], [DataType], [FileName], [FileLink]) VALUES (3, NULL, N'13/05/2024 11:02:52', 1, 3, N'file', N'Use Case.drawio.png', N'uploads/babfd0b1-6b8a-4ac9-a4d3-a7e5cc55550e_Use Case.drawio.png')
SET IDENTITY_INSERT [dbo].[Message] OFF
GO
SET IDENTITY_INSERT [dbo].[Seeker] ON 

INSERT [dbo].[Seeker] ([SeekerId], [Name], [PhoneNumber], [FileCV], [Photo], [GPA], [Major], [UserId], [LocationId], [SeekerAddress]) VALUES (2, N'User 6233', NULL, NULL, NULL, NULL, NULL, 13, NULL, NULL)
INSERT [dbo].[Seeker] ([SeekerId], [Name], [PhoneNumber], [FileCV], [Photo], [GPA], [Major], [UserId], [LocationId], [SeekerAddress]) VALUES (3, N'User 2774', NULL, NULL, NULL, NULL, NULL, 15, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Seeker] OFF
GO
SET IDENTITY_INSERT [dbo].[TypeOfWork] ON 

INSERT [dbo].[TypeOfWork] ([TypeId], [TypeName]) VALUES (1, N'Full time')
INSERT [dbo].[TypeOfWork] ([TypeId], [TypeName]) VALUES (2, N'Part time')
SET IDENTITY_INSERT [dbo].[TypeOfWork] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserId], [Email], [Password], [IsActive], [CreatedDate], [UserTypeId]) VALUES (1, N'admin@gmail.com', N'123', 1, CAST(N'2024-01-01' AS Date), 1)
INSERT [dbo].[Users] ([UserId], [Email], [Password], [IsActive], [CreatedDate], [UserTypeId]) VALUES (2, N'tranminhhien131220@gmail.com', N'123', 1, CAST(N'2024-05-11' AS Date), 2)
INSERT [dbo].[Users] ([UserId], [Email], [Password], [IsActive], [CreatedDate], [UserTypeId]) VALUES (4, N'company@gmail.com', N'123', 1, CAST(N'2024-05-11' AS Date), 3)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET IDENTITY_INSERT [dbo].[UserType] ON 

INSERT [dbo].[UserType] ([UserTypeId], [UserTypeName]) VALUES (1, N'Admin')
INSERT [dbo].[UserType] ([UserTypeId], [UserTypeName]) VALUES (2, N'Seeker')
INSERT [dbo].[UserType] ([UserTypeId], [UserTypeName]) VALUES (3, N'Company')
SET IDENTITY_INSERT [dbo].[UserType] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__A9D105342584BB40]    Script Date: 6/11/2024 9:52:15 PM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Company] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Job] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Application]  WITH CHECK ADD FOREIGN KEY([JobId])
REFERENCES [dbo].[Job] ([JobId])
GO
ALTER TABLE [dbo].[Application]  WITH CHECK ADD FOREIGN KEY([StatusId])
REFERENCES [dbo].[ApplicationStatus] ([StatusId])
GO
ALTER TABLE [dbo].[Application]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Company]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[GroupChat]  WITH CHECK ADD FOREIGN KEY([CompanyId])
REFERENCES [dbo].[Company] ([CompanyId])
GO
ALTER TABLE [dbo].[GroupChat]  WITH CHECK ADD FOREIGN KEY([SeekerId])
REFERENCES [dbo].[Seeker] ([SeekerId])
GO
ALTER TABLE [dbo].[Job]  WITH CHECK ADD FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Category] ([CategoryId])
GO
ALTER TABLE [dbo].[Job]  WITH CHECK ADD FOREIGN KEY([CompanyId])
REFERENCES [dbo].[Company] ([CompanyId])
GO
ALTER TABLE [dbo].[Job]  WITH CHECK ADD FOREIGN KEY([LevId])
REFERENCES [dbo].[LevelOfWork] ([LevId])
GO
ALTER TABLE [dbo].[Job]  WITH CHECK ADD FOREIGN KEY([LocationId])
REFERENCES [dbo].[Location] ([LocationId])
GO
ALTER TABLE [dbo].[Job]  WITH CHECK ADD FOREIGN KEY([TypeId])
REFERENCES [dbo].[TypeOfWork] ([TypeId])
GO
ALTER TABLE [dbo].[Message]  WITH CHECK ADD FOREIGN KEY([GroupId])
REFERENCES [dbo].[GroupChat] ([GroupId])
GO
ALTER TABLE [dbo].[Seeker]  WITH CHECK ADD FOREIGN KEY([LocationId])
REFERENCES [dbo].[Location] ([LocationId])
GO
ALTER TABLE [dbo].[Seeker]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD FOREIGN KEY([UserTypeId])
REFERENCES [dbo].[UserType] ([UserTypeId])
GO
